@media(min-width: 1440px) {
    header {
        justify-content: space-evenly;
    }
    label {
        width: 12rem;
        height: 7rem;
    }
}
@media(max-width: 842px) {
    header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 15rem));
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        justify-content: center;

        width: 100%;
    
    }
    label {
        width: 14rem;
        height: 8rem;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        max-height: 45vh;
        min-height: 40vh;
    
        position: absolute;
        top: 25rem;
    }
    
    .circleNext {
        left: 6rem;
        bottom: -8.2rem;
    }
    
}