@media(min-width: 1440px) {
    header {
        justify-content: space-evenly;
    }
    label {
        width: 12rem;
        height: 7rem;
    }
}
@media(max-width: 842px) {
    header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 15rem));
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        justify-content: center;
    
    }
    label {
        width: 14rem;
        height: 8rem;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        max-height: 45vh;
        min-height: 40vh;
    
        position: absolute;
        top: 25rem;
    }

    .circle {
        right: 1rem;
        bottom: 0rem;
    }
    
    .circleNext {
        left: 6rem;
        bottom: -8.2rem;
    }
    
}
@media(max-width: 575px) {
    section {
        top: 45rem;
    }
    h1 {
        font-size: 1rem;
        max-width: 20rem;
        text-align: center;
    }
    
    section {
        max-height: 80vh;

        position: absolute;
        top: 45rem;
    }
    button {
        margin-top: 2rem;
    }
    input[type="text"] {
    
        margin-top: 2rem;
    }

    .circle {
        right: 22rem;
        bottom: 0rem;
    }
    
    .circleNext {
        display: fixed;
        left: 15.9rem;
        bottom:  -38rem;
    }
}